.gallery {
   @include flexbox($dir: column, $ai: center);
   gap: 2em;
   padding: 10% 0;

   .slider {
      background: white;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100%;

      &::before,
      &::after {
         content: "";
         position: absolute;
         z-index: 2;
      }

      &::after {
         right: 0;
         top: 0;
         transform: rotateZ(180deg);
      }

      &::before {
         left: 0;
         top: 0;
      }

      .slide-track {
         animation: scroll 40s linear infinite;
         display: flex;
         width: calc(250px * 14);
      }

      .slide{
         padding: 0 1%;
      }
   }
}


@keyframes scroll {
   0% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(calc(-250px * 7))
   }
}
